<!DOCTYPE html>
<html  xmlns:th = "wwww.thymeleaf.org"
	xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

	<meta charset="UTF-8">
	<title>E-Shelf Admin</title>
</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
		  <a class="navbar-brand" href="#">E-Shelf Admin</a>
		  <a sec:authentication = "name"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="">Find</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Add/Remove</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav ml-auto">
		          <li>
		        <form class="form-inline" th:action="@{/logout}" method="post"> 
		                <input type="submit" value="Logout"/> 
		         </form>
		      </li>
		    </ul>
		  </div>
		</nav>
		<br>
		<button id="show_all_teachers" th:onclick ="showDiv('all_teachers', 'show_all_teachers', 'hide_all_teachers')">Display All Teachers In the System</button>
		<button id="hide_all_teachers" th:onclick ="hideDiv('all_teachers', 'show_all_teachers', 'hide_all_teachers')" style = "display:none">Hide All Teachers In the System</button>
		<br>

		<div id="all_teachers"  style="visibility: hidden; display: none;">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTeacherModal" data-whatever="@mdo">New Teacher</button>
			<input id="txtSearch" type ="text" name = "keyword">
			<div id="message"></div>
			<table id = "teacher_headings">
					<tr>
						<th> Teacher ID</th>
						<th> Teacher Last Name</th>
						<th> Teacher First Name</th>
						<th> Teacher Email</th>
						<th> Teacher School</th>
					</tr>
			</table>
			<table id = "teacher_info">
					<tr  th:each="teachers :${teachers}">
						<td th:text = "${teachers.id_teacher}"></td>
						<td th:text = "${teachers.last_name}"></td>
						<td th:text = "${teachers.first_name}"></td>
						<td th:text = "${teachers.email}"></td>
					    <td th:text = "${teachers.school_name}"></td>
					</tr>
				
			</table>
		</div>
		<br>
		<button id="show_all_resources" th:onclick ="showDiv('all_resources', 'show_all_resources', 'hide_all_resources')">Display All Resources In the System</button>
		<button id="hide_all_resources" th:onclick ="hideDiv('all_resources', 'show_all_resources', 'hide_all_resources')" style = "display:none">Hide All Resources In the System</button>
		<br>
		<div id="all_resources" style="visibility: hidden; display: none">
			<input id="txtSearchResources" type ="text" name = "keyword">
			<table id="resource_headings">
				<tr>
					<th>Resource Name</th>
					<th>Resource URL</th>
					<th>Resource Image</th>
				</tr>
			</table>
			<table id="resource_info">
				<tr th:each="resources :${resources}">
					<td th:text = "${resources.resource_name}"></td>
					<td><a th:href = "${resources.resource_URL}"  target ="_blank" th:text = "${resources.resource_URL}" ></a></td>
					<td> <img th:src="${resources.resource_image_URL}" style="width:200px;height:200px;"></td>
				</tr>
			</table>
		</div>
		<br>
		<button id="show_all_schools" th:onclick ="showDiv('all_schools', 'show_all_schools', 'hide_all_schools')">Display All Schools In the System</button>
		<button id="hide_all_schools" th:onclick ="hideDiv('all_schools', 'show_all_schools', 'hide_all_schools')" style = "display:none">Hide All Schools In the System</button>
		<br>
		<div id="all_schools" style="visibility: hidden; display: none">
		<input id="txtSearchSchools" type ="text" name = "keyword">
			<table id="schools_headings">
				<tr>
					<th>School Name</th>
				</tr>
			</table>
			<table id="schools_info">
				<tr th:each="schools :${schools}">
					<td th:text = "${schools.school_name}"></td>
				</tr>	
			</table>
		</div>
		<br>
		<button id="show_all_classes" th:onclick ="showDiv('all_classes', 'show_all_classes', 'hide_all_classes')">Display All Classes In the System</button>
		<button id="hide_all_classes" th:onclick ="hideDiv('all_classes', 'show_all_classes', 'hide_all_classes')" style = "display:none">Hide All Classes In the System</button>
		<br>
		<div id="all_classes" style="visibility: hidden; display: none">
		<input id="txtSearchClasses" type ="text" name = "keyword">
			<table id="classes_headings">
				<tr>
					<th>Class Name</th>
					<th>School</th>
				</tr>
				</table>
				<table id = "classes_info">
				<tr th:each="classes: ${classes}">
					<td th:text = "${classes.class_name}"></td>
					<td th:text = "${classes.school}"></td>
				</tr>	
			</table>
		</div>
		
		<div class="modal fade" id="addTeacherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id = "teacherForm" th:action  ="@{/E-Shelf/main/addTeacher}" method = "post">
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Teacher ID:</label>
		            <input type="number" min="1" max="9999" class="form-control" id="recipient-name" name = "id_teacher" maxlength= "4">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Last Name:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "last_name">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">First Name:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "first_name">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Title:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "tittle">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Teacher Name:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "teacher_name">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Email:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "email">
		          </div>
		          <div class = "form-grup">
		          	<label for="recipient-name" class="col-form-label">School:</label>
		          	<select th:field = "*{schools}" id ="schools_slection">
		          		<option value ="">--</option>
		          		<option th:each="schools :${schools}" th:value = "${schools.school_name}"  th:utext = "${schools.school_name}"/>
		          	</select>
		          </div>
		          <div class = "form-grup">
		          	<label for="recipient-name" class="col-form-label">Class:</label>
		          	<select th:field = "*{classes}" id ="classes_selection">
		          		<option value ="">--</option>
		          		<option th:each="classes: ${classes}" th:value = "${classes.class_name}"  th:utext = "${classes.class_name}"/>
		          	</select>
		          
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Low Grade:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "low_grade">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">High Grade:</label>
		            <input type="text" class="form-control" id="recipient-name" name = "high_grade">
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Resources:</label>
			         <div th:each="resources :${resources}">
			         <input type = "checkbox" th:value= "${resources.resource_name}" >
			         <label th:text ="${resources.resource_name}"></label>
					</div>
		          </div>
		          <div class ="form-group">
		          	<button type="submit" class="btn btn-primary">Submit</button>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

		      </div>
		    </div>
		  </div>
		</div>
		<script  type="text/javascript"  th:src="@{/js/custom.js}"></script>
		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
			
		<script th:inline="javascript">
		
		
		function showDiv(div_name, button_to_hide, button_to_show){
			document.getElementById(div_name).style.display = "block";
			document.getElementById(div_name).style.visibility = "visible";
			document.getElementById(button_to_hide).style.display="none";
			document.getElementById(button_to_show).style.display="block";
		}
		function hideDiv(div_name, button_to_show, button_to_hide){
			document.getElementById(div_name).style.display = "none";
			document.getElementById(div_name).style.visibility = "hidden";
			document.getElementById(button_to_show).style.display="block";
			document.getElementById( button_to_hide).style.display="none";
		}

		/*<![CDATA[*/

		    var teacher = /*[[${teachers}]]*/ 'teachers';
		    var resources = /*[[${resources}]]*/ 'resources';
		    var schools = /*[[${schools}]]*/ 'schools';
		    var classes = /*[[${classes}]]*/ 'classes';
		    

		/*]]>*/
		$('#txtSearch').on('keyup', function(){
			var value =$(this).val();
			var data = FilterFunction(value, teacher);
			
			rebuildTable(data);
			
			
		})
		function FilterFunction(value, data){
			var filteredData = [];
			console.log(data.length);
			for (var i = 0; i < data.length; i++){
				console.log(i);
				value = value.toLowerCase();
				var fname = data[i].first_name.toLowerCase();
				var lname = data[i].last_name.toLowerCase();
				
				if(fname.includes(value)||lname.includes(value)){
					filteredData.push(data[i])
				}
			}
			return filteredData;
		}
		function rebuildTable(data){
			var table = document.getElementById('teacher_info')
			table.innerHTML = ''
			for(var i= 0; i < data.length; i++){
				var row = `<tr>
				<td> ${data[i].id_teacher}</td>
				<td> ${data[i].last_name}</td>
				<td> ${data[i].first_name}</td>
				<td> ${data[i].email}</td>
				<td> ${data[i].school_name}</td>
			</tr>`
			table.innerHTML += row
			} 
		}


		$('#txtSearchResources').on('keyup', function(){
			var value =$(this).val();
			var data = FilterFunctionR(value, resources);
			
			rebuildTableR(data);
			
			
		})
		function FilterFunctionR(value, data){
			var filteredData = [];
			console.log(data.length);
			for (var i = 0; i < data.length; i++){
				console.log(i);
				value = value.toLowerCase();
				var rname = data[i].resource_name.toLowerCase();
				
				if(rname.includes(value)){
					filteredData.push(data[i])
				}
			}
			return filteredData;
		}

		function rebuildTableR(data){
			var table = document.getElementById('resource_info')
			table.innerHTML = ''
			for(var i= 0; i < data.length; i++){
				var row = `<tr>
				<td> ${data[i].resource_name}</td>
				<td><a href = ${data[i].resource_URL} target ="_blank">${data[i].resource_URL}</a></td>
				<td><img src=${data[i].resource_image_URL} style="width:200px;height:200px;"></td>
			</tr>`
			table.innerHTML += row
			} 
		}

		$('#txtSearchSchools').on('keyup', function(){
			var value =$(this).val();
			var data = FilterFunctionS(value, schools);
			
			rebuildTableS(data);
			
			
		})
		function FilterFunctionS(value, data){
			var filteredData = [];
			console.log(data.length);
			for (var i = 0; i < data.length; i++){
				console.log(i);
				value = value.toLowerCase();
				var rname = data[i].school_name.toLowerCase();
				
				if(rname.includes(value)){
					filteredData.push(data[i])
				}
			}
			return filteredData;
		}

		function rebuildTableS(data){
			var table = document.getElementById('schools_info')
			table.innerHTML = ''
			for(var i= 0; i < data.length; i++){
				var row = `<tr>
				<td> ${data[i].school_name}</td>
			</tr>`
			table.innerHTML += row
			} 
		}


		$('#txtSearchClasses').on('keyup', function(){
			var value =$(this).val();
			var data = FilterFunctionC(value, classes);
			
			rebuildTableC(data);
			
			
		})
		function FilterFunctionC(value, data){
			var filteredData = [];
		 	for (var i = 0; i < data.length; i++){
				value = value.toLowerCase();
				var cname = data[i].class_name.toLowerCase();
				
				if(cname.includes(value)){
					filteredData.push(data[i])
				}
			} 
		/* 	for (var i = 0; i < otherData.length; i++){
				value = value.toLowerCase();
				var rname = otherData[i].school_name.toLowerCase();
				
				if(rname.includes(value)){
					filteredData.push(data[i])
				}
			} */
			return filteredData;
		}

		function rebuildTableC(data){
			var table = document.getElementById('classes_info')
			table.innerHTML = ''
			for(var i= 0; i < data.length; i++){
				var row = `<tr>
				<td> ${data[i].class_name}</td>
				<td> ${data[i].school}</td>
			</tr>`
			table.innerHTML += row
			} 
		}
		

		    $("#schools_slection").on('change', function () {
		    	$("#classes_selection").children().remove().end();
		    	$("#classes_selection").append('<option value ="">--</option>');
		        var el = $(this);
		        for(var i = 0; i < classes.length; i++){
		        	if(el.val() == classes[i].school){
		        		
		        		var text = classes[i].class_name;
		        		console.log(text);
		        		$("#classes_selection").append('<option th:value = " ' + classes[i].class_name + ' "> ' + classes[i].class_name + '  </option>');
		        		
		        	}
		        	
		        }
		        
/* 		        if (el.val() === "ONLINE") {
		            $("#status").append("<option>SHIPPED</option>");
		        } else if (el.val() === "MANUAL") {
		            $("#status option:last-child").remove();
		        } */
		    });
/*             $(function() {
                $("#teacherForm").on("submit", function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr("action"),
                        type: 'POST',
                        data: $(this).serialize(),
                        beforeSend: function() {
                            $("#message").html("sending...");
                        },
                        success: function(data) {
                            $("#message").hide();
                            $("#response").html(data);
                        }
                    });
                });
            }); */
    

		</script>	
	</body>
</html>