<!DOCTYPE html>
<html  xmlns:th = "wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>E-Shelf Teacher</title>
</head>
<body>
	<h2 th:inline = "text"> [[${teacher.teacher_name}]]</h2>
	<h3 th:inline = "text"> [[${teacher.School.school_name}]]</h3>
	<br/>
	<table th:each="resources :${resources}"  style="display: inline-block;"> 
		<tr >
			<td colspan="2" style="vertical-align:middle; text-align:center;" > <img th:src="@{'/' +${resources.resources.resource_image_URL}}" style="width:200px;height:200px;"></td>
		</tr>
		<tr >
			<th> Resource</th>
			<td> <a th:href = "${resources.resources.resource_URL}" target ="_blank" th:text = "${resources.resources.resource_name}"/></a></td>
		</tr>
		<tr > 
			<th> UserName</th>
			<td th:text = "${resources.teacher_username}"></td>
		</tr>
		<tr>
			<th> Password</th>
			<td th:id="'pass' + ${resources.resources.id_resources}"></td>
		</tr>
		<tr>
			<th></th>
			<td th:id = "'showPass' + ${resources.resources.id_resources}" ><button id = "pass_show_button" th:onclick="showPassword([[${resources.teacher_password}]], [[${resources.resources.id_resources}]])">Show Password</button></td>
		</tr>
		<tr>
			<th></th>
			<td th:id = "'hidePass' + ${resources.resources.id_resources}" style = "display:none"><button id = "pass_hide_button" th:onclick="hidePassword([[${resources.teacher_password}]], [[${resources.resources.id_resources}]])">Hide Password</button></td>
		</tr>	
	</table>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<script  th:inline="javascript">
function showPassword(pass, id){
	document.getElementById('pass' + id).innerHTML= pass;
	document.getElementById('showPass' + id).style.display = "none";
	document.getElementById('hidePass' + id).style.display = "block";
}
function hidePassword(pass, id){
	document.getElementById('pass' + id).innerHTML= '';
	document.getElementById('showPass' + id).style.display = "block";
	document.getElementById('hidePass'+ id).style.display = "none";
}
</script>
</body>

</html>